/*
This is a CSS comment :) Text just for humans, it is not part of the code
Below is basic CSS styling.
You can change it, add to it, or delete it.
*/

body {
  font-family: Arial, sans-serif;
  background-color: #111;
  color: white;
  padding: 20px;
}

button {
  padding: 10px;
  font-size: 16px;
}
